<div class="dashboard-section dashboard-products-section dashboard-section-active" data-section="products">
  <div class="container">
    <h3>Matériels</h3>

    <div class="row dashboard-products-header">
      <div class="col-xs-12 col-sm-6">
        <h4 class="nb-of-products">Il y a <strong><%= Product.count %></%></strong> matériels</h4>
      </div>

      <!-- Filter by category -->
      <div class="col-xs-12 col-sm-6">
        <%= form_tag admin_dashboard_path, method: :get do %>
          <%= collection_select :category, :id,
          @categories,
          :id, :name,
          class: "form-control"
        %>
        <%= submit_tag('Rechercher', class: 'loxam-btn') %>
        <% end %>
      </div>
    </div>

    <h4 class="add-title">Ajouter un matériel <i class="fa fa-plus-square" id="add-product"></i></h4>
  </div>
  <div class="row row-form" id="form-product">
    <%= render 'products/form' %>
  </div>

  <div id="notif"></div>
  <% @products.each do |product| %>
    <div class="row-product-dashboard" id="col-product-row-<%= product.id %>">
      <%= simple_form_for product, html: {class: 'form-inline'}, remote: true do |f| %>
        <%= f.input :name, label: false %>
        <%= f.input :reference, label: false %>
        <%= f.input :price, label: false %>€ HT /
        <%= f.input :pricing, collection: ['jour', 'mois', 'an'], label: false %>
        <%= f.input :deposit, label: false %>€
        <%= f.button :submit, class: 'btn-save', value: 'Sauvegarder' %>
        <%= link_to 'Détails/Modifier', edit_product_path(product), class: 'btn-edit' %>
        <%= link_to product_path(product), remote: true, :method => :delete, :data => {:confirm => "Veux-tu vraiment supprimer ce matériel Jano?"} do %>
          <i class="fa fa-trash"></i>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
