<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag 'logo' %>
    <a href="tel:+33495602364">04 95 60 23 64</a>
  <% end %>

  <!-- Search bar centered -->
  <div class="group search hidden-xs hidden-sm">
    <input type="text" required="" id="search-bar">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="search-label"><i class="fa fa-search"></i> Rechercher un matériel</label>
    <ul id="search-list">
      <% if !@products.nil? %>
        <% @products.each do |product| %>
          <li class="product-item"><%= link_to product.name, product_path(product) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Location", location_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Vente", vente_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Réparation", reparation_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.avatar || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", gravity: "face", crop: "crop" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to mon_espace_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Location", location_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Vente", vente_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Réparation", reparation_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link loxam-btn" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Location", location_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Vente", vente_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Réparation", reparation_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% if user_signed_in? %>
          <li>
              <%= link_to mon_espace_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
        <% else %>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
