<div class='nested-fields'>
  <%= f.input :name, label: 'Nom' %>
  <%= f.input :reference, label: 'Référence' %>
  <%= f.input :price, label: 'Tarif' %>
  <%= f.input :description, label: 'Description' %>
  <%= link_to_remove_association 'Supprimer ce consommable -', f, class: 'btn-delete' %>
</div>
