<div class="container main-container">

  <div class="loxam-types-container">
    <div class="row">
      <h2>DÉCOUVREZ NOS SPECIALITÉS</h2>
    </div>
    <div class="row">
      <% @affiliates.each do |affiliate| %>
        <% if affiliate.name.present? && affiliate.logo.present? %>
        <div class="col-xs-12 col-sm-6 col-md-3"><%= link_to affiliate_path(affiliate.name) do %>
            <%= image_tag(affiliate.logo) %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row main-row">
    <div class="col-sm-12 col-md-7 col-best-searches">
      <!-- Les plus recherchés -->
      <div class="row row-les-plus-recherches">
        <h2 class="h2-gray-box title-les-plus-recherchés">LES PLUS RECHERCHÉS</h2>
        <% @best_searches.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-item-card">
            <div class="item-card white-box">
              <div class="favorite-star-container favorite-star-container-product-<%= product.id %>" data-product-id= "<%= product.id %>">
                <% if (user_signed_in?) && (current_user.products.include? product) %>
                  <%= link_to product_favorite_path(current_user, product), class: 'btn-favorite-active', remote: true, :method => :delete, :data => { toggle: 'popover', trigger: 'hover', content: 'Retirer des favoris', placement: 'left' } do %>
                    <i class="fa fa-star"></i>
                    <script>
                      $(document).ready(function(){
                        $('[data-toggle="popover"]').popover({
                          html : true,
                        });
                      });
                    </script>
                  <% end %>
                <% else %>
                  <%= simple_form_for [ product, Favorite.new ], remote: true do |f| %>
                    <%= button_tag(type: 'submit', class: 'btn-favorite', data: { toggle: 'popover', trigger: 'hover', content: 'Mettre en favoris', placement: 'left' }) do %>
                      <i class="fa fa-star"></i>
                      <script>
                        $(document).ready(function(){
                          $('[data-toggle="popover"]').popover({
                            html : true,
                          });
                        });
                      </script>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <% if product.photo? %>
                <div class="item-card-image" style="background-image: url('<%= cl_image_path product.photo %>'); "></div>
              <% else %>
                <div class="item-card-image" style="background-image: url('https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg'); "></div>
              <% end %>
              <div class="card-infos">
              <h3><%= product.name %></h3>
                <div class="card-price-and-btn">
                  <p><span class="price"><%= number_to_currency(product.price,:unit => '€', delimiter: " ", precision: 2, format: "%n%u") %></span> / <%= product.pricing %> H.T</p>
                  <%= link_to 'Détails', product_path(product), class: 'loxam-btn' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
        <!-- Les nouveautés -->
      <div class="row row-les-nouveautes">
        <h2 class="h2-gray-box title-les-plus-recherchés">LES NOUVEAUTÉS</h2>
        <% @new_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-item-card">
            <div class="item-card white-box">
              <div class="favorite-star-container-product-<%= product.id %>">
                <% if (user_signed_in?) && (current_user.products.include? product) %>
                  <%= link_to product_favorite_path(current_user, product), class: 'btn-favorite-active', remote: true, :method => :delete, :data => { toggle: 'popover', trigger: 'hover', content: 'Retirer des favoris', placement: 'left' } do %>
                    <i class="fa fa-star"></i>
                    <script>
                      $(document).ready(function(){
                        $('[data-toggle="popover"]').popover({
                          html : true,
                          });
                      });
                    </script>
                  <% end %>
                <% else %>
                  <%= simple_form_for [ product, Favorite.new ], remote: true do %>
                    <%= button_tag(type: 'submit', class: 'btn-favorite', data: { toggle: 'popover', trigger: 'hover', content: 'Mettre en favoris', placement: 'left' }) do %>
                      <i class="fa fa-star"></i>
                      <script>
                        $(document).ready(function(){
                          $('[data-toggle="popover"]').popover({
                            html : true,
                            });
                        });
                      </script>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <% if product.photo? %>
                <div class="item-card-image" style="background-image: url('<%= cl_image_path product.photo %>'); "></div>
              <% else %>
                <div class="item-card-image" style="background-image: url('https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg'); "></div>
              <% end %>
              <div class="card-infos">
              <h3><%= product.name %></h3>
                <div class="card-price-and-btn">
                  <p><span class="price"><%= number_to_currency(product.price,:unit => '€', delimiter: " ", precision: 2, format: "%n%u") %></span> / <%= product.pricing %> H.T</p>
                  <%= link_to 'Détails', product_path(product), class: 'loxam-btn' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 contact-column">
      <!-- Demande de devis -->
      <div class="contact-container form-container">
        <h2 class="title-gray-background">DEMANDE DE LOCATION?</h2>
        <%= render 'messages/form' %>
      </div>
      <!-- Promos -->
      <div class="promo-container">
        <h2 class="title-gray-background"><%= @promo.title.upcase %></h2>
        <div class="promo-card-image">
          <% if @promo.present? && @promo.display_description %>
            <h3><%= @promo.title %></h3>
            <p><%= @promo.description %></p>
          <% end %>
          <%= (cl_image_tag @promo.media) if @promo.present?%>
          <div class="promo-card-hover">
            <strong>Agrandir l'image</strong>
            <i class="fa fa-arrows-alt" id="expand-cross"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-screen-promo">
    <%= cl_image_tag @promo.media  if @promo.present?%>
    <i class="fa fa-times-circle" id="closing-cross"></i>
  </div>
</div>

