<div class="container container-mon-espace">
  <div class="container-intro-user white-box">
    <h2>Bienvenue dans votre espace client <span class="loxam-name"><span>Loxam</span> <span>Bastia</span></span> <strong><%= @user.name.upcase %></strong>!</h2>
    <p>Vous trouverez dans cet espace vos factures mises à votre disposition chaque mois, consultables et téléchargeables au format pdf. <br>
    Vous avez aussi la possibilité d'ajouter des matériels en favoris à partir de n'importe quelle page du site, et les retrouverez ici même. <br>
    Bonne navigation!</p>
  </div>
  <h2>Mes favoris</h2>
  <div class="row">
    <%= content_tag(:p, "Vous n'avez aucun favori") if @user.products.empty? %>
    <% @user.products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-3 col-item-card" id="mon-espace-card-<%= product.id %>">
        <div class="item-card white-box">
          <div class="favorite-star-container-product-<%= product.id %>">
            <%= link_to product_favorite_path(current_user, product), class: 'btn-favorite-active', remote: true, :method => :delete, :data => { toggle: 'popover', trigger: 'hover', content: 'Retirer des favoris', placement: 'left' } do %>
              <i class="fa fa-star"></i>
              <script>
                $(document).ready(function(){
                  $('[data-toggle="popover"]').popover({
                    html : true,
                    });
                });
              </script>
            <% end %>
          </div>
          <% if product.photo? %>
            <div class="item-card-image" style="background-image: url('<%= cl_image_path product.photo %>'); "></div>
          <% else %>
            <div class="item-card-image" style="background-image: url('https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg'); "></div>
          <% end %>
          <div class="card-infos">
          <h3><%= product.name %></h3>
            <div class="card-price-and-btn">
              <p><span class="price"><%= product.price %>€</span> / jour H.T</p>
              <%= link_to 'Détails', product_path(product), class: 'loxam-btn' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Mes factures</h2>
  <div class="container-invoices">
    <%= content_tag(:p, "Vous n'avez aucune facture disponible") if @invoices.empty? %>
    <% @invoices.each do |invoice| %>
      <div class="row-invoice white-box">
        <div class="invoice-datas">
          <span><%= invoice.date.strftime('%m/%Y') %></span>
          <span><%= invoice.document_type %> n°<%= invoice.id_invoice_loxam %></span>
          <span><strong><%= invoice.amount %>€ HT</strong></span>
          <span><%= (invoice.amount * 1.2).round(2) %>€ TTC</span>
        </div>
        <div class="invoice-btn-box">
          <!-- <a href="<%= cl_image_path invoice.pdf %>" target="_blank" class="loxam-btn">Consulter facture</a>-->
          <%= link_to 'Consulter facture', "assets/invoices/#{invoice.date.to_s.gsub!('-', '')[0..5]}/#{invoice.pdf}", class: 'loxam-btn', target: '_blank' %>
        </div>
      </div>
    <% end %>
  </div>

</div>
