<div class="container container-vente white-box">
  <!-- <div class="col-xs-12 col-sm-8">
    <p>Plus de <strong>1400 produits à la vente</strong>, sélectionnés auprès des meilleurs fabricants parmi les marques de référence utilisées régulièrement par vos équipes.</p>
  </div>
  <div class="vente-page-flex-box">
    <h4>ACCEDER AU CATALOGUE DE VENTE LOXAM</h4>
    <a class="img-catalog" href="<%= @sales_catalog.link %>" target="_blank">
      <%= cl_image_tag @sales_catalog.image, height: '300' %>
    </a>
  </div>  -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="vente-page-intro">
        <p>Plus de <strong>1400 produits à la vente</strong>, sélectionnés auprès des meilleurs fabricants parmi les marques de référence utilisées régulièrement par vos équipes.</p>
      </div>

      <div>
        <h5>Topographie - Communication</h5>
        <div class="vente-page-flex-box">
          <ul>
            <li>Niveaux optiques</li>
            <li>Lasers terrassement nivellement</li>
            <li>Lasers gros œuvre</li>
            <li>Lasers second œuvre</li>
            <li>Instruments de mesure</li>
            <li>Détection</li>
            <li>Émetteur / Récepteur</li>
            <li>Téléphonie</li>
          </ul>
          <%= cl_image_tag 'image-vente-page-1.jpg' %>
        </div>
      </div>
    <div>
      <h5>Équipement et protection de chantier</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Clôtures grillagées</li>
          <li>Clôtures opaques</li>
          <li>Accessoires pour clôtures</li>
          <li>Protection de chantier</li>
          <li>Alimentation réseau</li>
          <li>Alimentation électrique</li>
          <li>Éclairage</li>
          <li>Groupes électrogènes</li>
          <li>Abris de chantier</li>
          <li>Bungalows</li>
          <li>Mobilier base-vie</li>
          <li>Sanitaire</li>
          <li>Abris démontables</li>
          <li>Conteneurs d'entreposage</li>
          <li>Sécurité des équipements</li>
          <li>Stockage carburant</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-2.jpg' %>
      </div>
    </div>
    <div>
      <h5>Transport - Manutention - Compactage</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Levage</li>
          <li>Équipement de véhicule</li>
          <li>Arrimage</li>
          <li>Rampes de chargement</li>
          <li>Transport matériels et matériaux</li>
          <li>Transport et approvisionnement d'eau</li>
          <li>Brouettes</li>
          <li>Manutention</li>
          <li>Plaques vibrantes</li>
          <li>Pilonneuses</li>
          <li>Rouleaux</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-3.jpg' %>
      </div>
    </div>
    <div>
      <h5>Signalisation</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Panneaux temporaires</li>
          <li>Feux de chantier</li>
          <li>Balisage</li>
          <li>Traceurs permanents</li>
          <li>Traceurs forestiers</li>
          <li>Traceurs provisoires</li>
          <li>Piquets</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-4.jpg' %>
      </div>
    </div>
    <div>
      <h5>Traitement du béton</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Préparation</li>
          <li>Accessoires de coffrage</li>
          <li>Ligaturage</li>
          <li>Bennes</li>
          <li>Bétonnières tractables</li>
          <li>Bétonnières non tractables</li>
          <li>Vibration</li>
          <li>Surfaçage</li>
          <li>Talochage</li>
          <li>Rabotage</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-5.jpg' %>
      </div>
    </div>
    <div>
      <h5>Sciage</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Disques diamant</li>
          <li>Disques abrasifs</li>
          <li>Découpeuses thermiques</li>
          <li>Scie à sol thermique</li>
          <li>Meuleuses filaires</li>
          <li>Meuleuses sans fil</li>
          <li>Scies circulaires</li>
          <li>Scie sauteuse</li>
          <li>Scies sabres filaires</li>
          <li>Coupe-carreaux</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-6.jpg' %>
      </div>
    </div>
    <div>
      <h5>Perforation - Démolition</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Forets diamant</li>
          <li>Foreuses</li>
          <li>Outils perforation démolition électrique</li>
          <li>Perceuses visseuses sans fil</li>
          <li>Perforateurs sans fil</li>
          <li>Perforateurs burineurs filaires</li>
          <li>Brise-béton électriques</li>
          <li>Brise-béton thermique</li>
          <li>Outils perforation démolition pneumatique</li>
          <li>Perforateurs pneumatiques</li>
          <li>Marteaux piqueurs pneumatiques</li>
          <li>Brise-béton pneumatiques</li>
          <li>Compresseurs mobiles</li>
          <li>Évacuation matériaux</li>
          <li>Évacuation des déchets</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-7.jpg' %>
      </div>
    </div>
    <div>
      <h5>Nettoyage - Pompage</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Balais</li>
          <li>Nettoyeurs haute-pression</li>
          <li>Aspirateurs mixtes</li>
          <li>Sacs aspirateur</li>
          <li>Pompes électriques</li>
          <li>Pompes thermiques</li>
          <li>Tuyaux pompage</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-8.jpg' %>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="vente-page-catalog">
        <h4>ACCEDER AU CATALOGUE DE VENTE LOXAM</h4>
        <a class="img-catalog" href="<%= @sales_catalog.link %>" target="_blank">
          <%= cl_image_tag @sales_catalog.image, height: '300' %>
        </a>
      </div>
      <div>
      <h5>Élévation des personnes / Charges</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Échelles</li>
          <li>Plates-formes individuelles</li>
          <li>Échafaudages roulants aluminium</li>
          <li>Plates-formes suspendues temporaires</li>
          <li>Treuils et levage de matériels</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-9.jpg' %>
      </div>
    </div>
    <div>
      <h5>Plomberie - Génie climatique</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Maintenance tuyauterie</li>
          <li>Climatiseurs</li>
          <li>Déshumidificateurs</li>
          <li>Chauffages</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-10.jpg' %>
      </div>
    </div>
    <div>
      <h5>Ponçage - Traitement sols et murs</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Ponçage sols et murs</li>
          <li>Ponçage parquets</li>
          <li>Décapage</li>
          <li>Malaxage - Pulvérisation</li>
          <li>Sablage</li>
          <li>Isolation</li>
          <li>Amiante</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-11.jpg' %>
      </div>
    </div>
    <div>
      <h5>Outillages</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Protection</li>
          <li>Cordage</li>
          <li>Craies/Crayons</li>
          <li>Adhésifs</li>
          <li>Mesures</li>
          <li>Niveaux</li>
          <li>Outils bâtiment</li>
          <li>Brosserie</li>
          <li>Petits matériels</li>
          <li>Compresseurs électriques</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-12.jpg' %>
      </div>
    </div>
    <div>
      <h5>Consommables</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Protection du chantier et antipollution</li>
          <li>Crayons, feutres et adhésifs</li>
          <li>Mastics, mortiers et colles</li>
          <li>Carburant et graisse</li>
          <li>Enrobés</li>
          <li>Mortier-béton</li>
          <li>Carburant</li>
          <li>Huile - graisse - dégrippant</li>
          <li>Pompes à graisse</li>
          <li>Absorbants antipollution</li>
          <li>Bacs de rétention</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-13.jpg' %>
      </div>
    </div>
    <div>
      <h5>Hygiène & Santé - EPI</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Premiers </li>
          <li>Hygiène corporelle</li>
          <li>Protection de la tête</li>
          <li>Protection auditive</li>
          <li>Protection visuelle</li>
          <li>Protection respiratoire</li>
          <li>Protection de la main</li>
          <li>Protection du corps</li>
          <li>Protection haute visibilité</li>
          <li>Protection du pied</li>
          <li>Protection forestière / espaces verts</li>
          <li>Protection anti-chute</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-14.jpg' %>
      </div>
    </div>
    <div>
      <h5>Espaces verts</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Tronçonneuses </li>
          <li>Accessoires tronçonneuses</li>
          <li>Taille-haies thermiques</li>
          <li>Débroussailleuses thermiques</li>
          <li>Tarières thermiques</li>
          <li>Souffleur thermique</li>
          <li>Rouleau à main</li>
          <li>Transporteurs</li>
          <li>Gamme électrique</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-15.jpg' %>
      </div>
    </div>
    <div>
      <h5>Maquettes matériels</h5>
      <div class="vente-page-flex-box">
        <ul>
          <li>Maquettes</li>
        </ul>
        <%= cl_image_tag 'image-vente-page-16.jpg' %>
      </div>
    </div>
    </div>

  </div>
</div>
