<div class="container">
  <h1><%= @category.name %></h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-3 col-item-card">
        <div class="item-card white-box">
          <% if product.photo? %>
            <div class="item-card-image" style="background-image: url('<%= cl_image_path product.photo %>'); "></div>
          <% else %>
            <div class="item-card-image" style="background-image: url('https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg'); "></div>
          <% end %>
          <div class="card-infos">
          <h3><%= product.name %></h3>
            <div class="card-price-and-btn">
              <p>à partir de <span class="price"><%= product.price %>€</span>/jour H.T</p>
              <%= link_to 'Détails', product_path(product), class: 'loxam-btn' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
