<%= simple_form_for @product, remote: true do |f| %>
  <%= f.error_notification %>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :name, label: 'Nom' %>
    <span class="error" id="name-error"></span>
    <%= f.input :reference %>
    <span class="error" id="reference-error"></span>
    <%= f.association :category, label: 'Category' %>
    <span class="error" id="category_id-error"></span>
    <%= f.input :price, label: 'Tarif' %>
    <span class="error" id="price-error"></span>
    <%= f.input :deposit %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :features, label: 'Caractéristiques' %>
    <%= f.input :features_cache, as: :hidden %>
    <%= f.input :technical_sheet, label: 'Fiche technique' %>
    <%= f.input :technical_sheet_cache, as: :hidden %>
    <%= f.input :description, as: :summernote, label: 'Description' %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <span class="error" id="photo-error"></span>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :video %>
      </div>
    </div>
    <%= f.input :loxam_link %>
    <%= f.button :submit, class: 'loxam-btn btn-create-product' %>
  </div>

  <!-- Expendables -->
  <div id="expendables">
    <h4>Ajouter des consommables</h4>
    <%= f.simple_fields_for :expendables do |expendable| %>
      <%= render 'expendable_fields', :f => expendable %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Ajouter un consommable', f, :expendables %>
    </div>
  </div>
<% end %>

