<%= simple_form_for @product do |f| %>
  <div class="container container-product edit-product-page white-box">
    <div class="product-title-container">
      <%= f.input :name, label: 'Nom' %>
    </div>
      <%= f.association :category, label: 'Categorie' %>
    <div class="row-presentation-product">
      <div class="col-xs-12 col-sm-6 image-col">
        <% if @product.photo? %>
          <%= cl_image_tag @product.photo %>
        <% else %>
          <img src="https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg" alt="default_photo">
        <% end %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <div class="col-xs-12 col-sm-6">
        <p><strong><%= f.input :price, label: false %> HT / <%= f.input :pricing, collection: ['jour', 'mois', 'an'], label: false %></strong> soit <%= number_to_currency(@product.price * 1.2,:unit => '€', delimiter: " ", precision: 2, format: "%n%u") %> TTC / jour</p>
        <p><%= f.input :reference, label: 'Référence' %></p>
        <%= f.input :description, as: :summernote, label: 'Description' %>
        <%= f.input :technical_sheet, label: 'Fiche technique' %>
        <% if @product.technical_sheet? %>
          <%= f.input :remove_technical_sheet, :label => 'Supprimer fiche technique', :as => :boolean, input_html: {checked: false} %>
        <% end %>
        <%= f.input :technical_sheet_cache, as: :hidden %>
        <%= f.input :features, label: 'Caractéristiques' %>
        <% if @product.features? %>
          <%= f.input :remove_features, :label => 'Supprimer caractéristiques', :as => :boolean, input_html: { checked: false } %>
        <% end %>
        <%= f.input :features_cache, as: :hidden %>
      </div>
    </div>


    <div class="col-xs-12 product-conditions">
      <p><strong>CALCUL DU TEMPS DE LOCATION* :
      La location est facturée par tranche de 24h</strong>
      <br>
      Semaine : Du Lundi au Vendredi. Enlèvement entre 7h et 9h.
      Forfait week-end : du vendredi 17h au lundi 9h.
      <br>
      Horaire de l'agence : ouvert du lundi au vendredi de 7h à 12h et de 13h à 18h.
      <br>
      Montant dépôt de garantie : <%= f.input :deposit, label: false %> € Pour toute location, un dépôt de garantie (uniquement en carte bleue) est demandé en fonction de la classification des matériels.</p>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="container-expendables">
          <h3>Accessoires disponibles à la location de: <%= @product.name %></h3>

            <div id="expendables">
              <%= f.simple_fields_for :expendables do |expendable| %>
                <%= render 'expendable_fields', :f => expendable %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Ajouter un autre consommable +', f, :expendables, class: 'btn-edit' %>
              </div>
            </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="message-form-product-page">
          <h3><%= @product.name %> vous intéresse?</h3>
          <%= simple_form_for Message.new, remote: true  do |f| %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= f.input :name, label: 'Nom/Société' %>
              <span class="error" id="name-error"></span>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :email %>
              <span class="error" id="email-error"></span>
            </div>
          </div>
          <%= f.select :agency, ["LOXAM AJACCIO", "LOXAM BASTIA"], label: "Choisissez une agence", include_blank: true %>
          <span class="error" id="agency-error"></span>
          <%= f.input :content, label: 'Message' %>
          <span class="error" id="content-error"></span>
          <%= f.button :submit, value: 'Demande informations', class: 'loxam-btn btn-send' %>
        <% end %>
        </div>
      </div>
    </div>
    <%= f.button :submit, value: 'Sauvegarder les changements', class: 'btn-save' %>
  </div>
<% end %>
