var productCardImage = document.querySelector('#col-product-card-<%= @product.id %> .item-card-image');
var cardInfos = document.querySelector('#col-product-card-<%= @product.id %> .card-infos');
var cardInfosList = document.querySelector('#col-product-card-<%= @product.id %> .card-infos-list');
var popUp = document.getElementById(`pop-up-edit-product-<%= @product.id %>`);

popUp.classList.remove('pop-up-product-active');

<% if @product.photo? %>
  productCardImage.innerHTML =
  `<div style="background-image: url('<%= cl_image_path @product.photo %>');"></div>`;
<% else %>
  `<div style="background-image: url('https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg'); "></div>`;
<% end %>

cardInfos.innerHTML = `<h3><%= @product.name %></h3>`;
cardInfosList.innerHTML =
` <li><strong>Référence:</strong> <%= @product.reference %></li>
  <li><strong>Catégorie:</strong> <%= @product.category.name %></li>
  <li><strong>Prix:</strong> <%= @product.price %>€/jour</li>
  <% if @product.technical_sheet? %>
    <li><strong>Deposit:</strong> <%= @product.deposit %></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">Deposit</strong></li>
  <% end %>
  <% if @product.video? %>
    <li><strong>Video</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">video</strong></li>
  <% end %>
  <% if @product.loxam_link? %>
    <li><strong>Loxam lien</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">loxam_link</strong></li>
  <% end %>
  <% if @product.technical_sheet? %>
    <li><strong>technical_sheet</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">Fiche technique</strong></li>
  <% end %>
  <% if @product.features? %>
    <li><strong>Caractéristiques</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">features</strong></li>
  <% end %>
  <% if @product.description? %>
    <li><strong>Description</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">Description</strong></li>
  <% end %>`;
