var productCardImage = document.querySelector('#col-product-card-<%= @product.id %> .product-card-image');
var cardInfos = document.querySelector('#col-product-card-<%= @product.id %> .card-infos');
var cardInfosList = document.querySelector('#col-product-card-<%= @product.id %> .card-infos-list');
var popUp = document.getElementById(`pop-up-edit-product-<%= @product.id %>`);
popUp.classList.remove('pop-up-product-active');

<% if @product.photo? %>
  productCardImage.HTML =
  `<div class="product-card-image" style="background-image: url('<%= cl_image_path @product.photo %>'); ">`;
<% else %>
  `<div class="product-card-image" style="background-image: url('https://loremflickr.com/cache/resized/4493_37892718232_c54293c193_320_240_nofilter.jpg'); ">`;
<% end %>

cardInfos.innerHTML = `<h3><%= @product.name %></h3>`;
cardInfosList.innerHTML =
` <li><strong>Référence:</strong> <%= @product.reference %></li>
  <li><strong>Catégorie:</strong> <%= @product.category.name %></li>
  <li><strong>Prix:</strong> <%= @product.price %>€/jour</li>
  <% if @product.technical_sheet? %>
    <li><strong>Deposit:</strong> <%= @product.deposit %></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">Deposit</strong></li>
  <% end %>
  <% if @product.video? %>
    <li><strong>Video</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">video</strong></li>
  <% end %>
  <% if @product.loxam_link? %>
    <li><strong>Loxam lien</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">loxam_link</strong></li>
  <% end %>
  <% if @product.technical_sheet? %>
    <li><strong>technical_sheet</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">Fiche technique</strong></li>
  <% end %>
  <% if @product.features? %>
    <li><strong>Caractéristiques</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">features</strong></li>
  <% end %>
  <% if @product.description? %>
    <li><strong>Description</strong></li>
  <% else %>
    <li><strong style=" text-decoration: line-through;">Description</strong></li>
  <% end %>`;

popUp.innerHTML =
`<i class="fa fa-times-circle close-popup"></i>
    <%= simple_form_for @product, remote: true do |f| %>
      <%= f.error_notification %>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :name %>
        <span class="error" id="name-error"></span>
        <%= f.input :reference %>
        <span class="error" id="reference-error"></span>
        <%= f.association :category %>
        <span class="error" id="category_id-error"></span>
        <%= f.input :price %>
        <span class="error" id="price-error"></span>
        <%= f.input :deposit %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :features %>
        <%= f.input :description %>
        <%= f.input :technical_sheet %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <span class="error" id="photo-error"></span>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :video %>
          </div>
        </div>
        <%= f.input :loxam_link %>
        <%= f.button :submit, class: 'loxam-btn btn-create-product' %>
      </div>
    <% end %>`;

console.log(popUp);
